.feedback-card {
width: 90%;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.feedback-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feedback-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

@media (min-width: 768px) {
    .feedback-card {
        width: 50%;
        }
}