.navbar-wrapper {
  height: 4rem;
  background: white;
  padding: 15px 10px;
  border: none;
  border-radius: 0;
  box-shadow: 1px 1px 3px rgba(0,0,0,.1);
  width: 100%;
}

.navbar-wrapper-link {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.user-icon-wrapper {
  display: flex;
  align-items: flex-end;
  margin-right: 10px;
}

.user-icon-wrapper svg {
  margin-left: 5px;
}

.user-dropdown {
  display: block;
  margin: auto 0;
  position: relative;
}

.user-dropdown__menu {
  position: absolute;
  top: 30px;
  right: 0;
  min-width: 160px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  z-index: 1;
}

.user-dropdown__menu a {
  display: block;
  padding: 8px 20px;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.2s ease-in-out;
}

.user-dropdown__menu a:hover {
  background-color: #f2f2f2;
}