.gradient-navbar {
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  height: 300px;
}

.container-navbar {
  min-height: 300px;
}

.logo-image {
  width: 100px;
  height: auto;
  background-image: url("../Images/logo-white.svg");
  z-index: 999;
}

.navbar {
  z-index: 1;
}