.gradient-navbar {
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  height: 300px;
}

.container-navbar {
  min-height: 300px;
}

.logo-image {
  width: 100px;
  height: 100px;
  background-image: url("../Images/logo.png");
  top: 1rem;
  left: 50%;
}

.navbar {
  z-index: 1;
}