.gradient-navbar {
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  height: 300px;
}

.container-navbar {
  min-height: 300px;
}

.logo-image {
  width: 132px;
  height: 26px;
  background-image: url("../Images/taxigo-logo-3.svg");
  background-repeat: none;
  top: 3rem;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.navbar {
  z-index: 1;
}