
.container-group{
    display: flex;
    flex-direction: row;
    gap:0.5rem;
    padding: 0.5rem 0rem 0rem 0.5rem;
    border-top: 1px solid;
    border-color: rgba(0, 0, 0, 0.25); 
    justify-content: space-between;
    align-items: center;
}

.containerCard{
    display: flex;
    flex-direction: row;
    gap:0.5rem;
    padding: 0.5rem 0rem 0rem 0.5rem;
}

.img{
    background-image: url("../Images/location.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 4rem;
    width: 2rem;
}

.img2{
    background-image: url("../Images/dollar.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.5rem;
}

.confermato.Confermato{
    color: #4252FF;
    padding-right: 0.5rem;
    font-family: Poppins, sans-serif;
}

.confermato.Completato {
    color: #03DE73;
    padding-right: 0.5rem;
    font-family: Poppins, sans-serif;
  }
  
  .confermato.Cancellato {
    color: #C8C7CC;
    padding-right: 0.5rem;
    font-family: Poppins, sans-serif;
  }
  
