.ride-timer-card {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.ride-timer-title {
    border-bottom: 0.5px solid gray;
    padding-bottom: 0.5rem;
    color: #31C48D;
    text-align: center;
}

.ride-timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ride-timer-address {
    background-color: rgba(221, 221, 221, 0.376);
    border-radius: 10px;
    padding: 0.2rem 0.5rem;
}

@media (min-width: 768px) {
    .ride-timer-card {
        width: 50%;
        }
}