.sidebar {
  min-width: 270px;
  max-width: 270px;
  background-color: #31C48D;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
 height: 100vh;
}

.sidebar.closed {
  transform: translateX(-100%);
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #e6e6e6;
  flex-direction: column;
}

.sidebar-header-logo {
  height: 10rem;
  width: 10rem;
  background-image: url("../Images/logo-color.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.sidebar-user-info {
  display: flex;
  align-items: center;
}


.sidebar-username {
  font-size: 1.2rem;
  font-weight: bold;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 20px;
}

li a {
  text-decoration: none;
  color: #333;
  margin-left: 10px;
}

i {
  font-size: 1.2rem;
  color: #333;
  width: 20px;
  text-align: center;
}