.sidenav {
  background-color: #31C48D !important;
  position: relative !important;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 300px; /* Imposta la larghezza desiderata */
  background-color: #f1f1f1;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}

.sidebar.open {
  transform: translateX(0);
}

.sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- .sidenav---navicon---3gCRo + .sidenav---navtext---1AE_f {
  visibility: visible;
  opacity: .9 !important;
  color: white !important;
  -ms-filter: none;
  filter: none;
  transition: opacity 0.2s linear;
}

.sidenav---navicon---3gCRo{
  opacity: .9 !important;
}