.wrapper-splash {
    height: 100vh;
    width: 100%;
    background-image: url("../Images/splash.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
  }

  .splash-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    flex-wrap: nowrap;
    top: 30%;
    left: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
    width:25rem;
    justify-content: center;
  }

  .container-logo{
    height:22rem;
    background-image: url("../Images/logo-color.svg");
    background-size: cover;
    background-repeat: no-repeat

  }

  .container-button{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-self: center;
  }

  .container-button button{
    margin-top: 2rem;
    width: 5rem;
    height: 3rem;
    background-color: white;
    border-color: white;
    color: #1F7E5B;
  }

  .container-button button:hover{
    background-color: #1F7E5B;
    border-color: #1F7E5B;
  }
