.wrapper-storico {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container-nav-storico {
    height: 14rem !important;
    background-color: #31C48D;
    color: white;
    padding: 1rem;
}

.nav-title-storico {
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    margin-top: 1rem;
    gap: 1.5rem;
    justify-content: space-between;
}

.dataPicker {
    border-radius: 2rem;
    border-color: transparent;
    opacity: .4;
    color: black;
    width: 100%;
}

.react-datepicker-wrapper{
    width: 100% !important;
}

.container-storico {
    width: 100%;
    padding: 1rem;
    align-self: center;
    margin-top: -9rem;
}

.nav-text-storico{
    font-size: 34px;
    font-weight: 700;
}