.taxi-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px solid gray;
}

.taxi-list > div{
    text-align: center;
}

.list-card {
    width: 90%;
    margin: 0 auto;
    bottom: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media (min-width: 768px) {
    .list-card {
        width: 50%;
        }
}

