.taxi-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.taxi-list > div{
    text-align: center;
}

.list-card {
    bottom: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

