.taxi-profile-card {
    width: 90%;
    margin: 1rem auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.taxi-profile-card-head {
    border-bottom: 0.5px solid gray;
}

@media (min-width: 768px) {
    .taxi-profile-card{
        width: 50%;
        }
}